[submodule "lain"]
	path = lain
	url = ./config/awesome/lain
[submodule "config/awesome/lain"]
	path = config/awesome/lain
	url = https://github.com/lcpz/lain/
[submodule ".vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/animate.vim"]
	path = vim/bundle/animate.vim
	url = https://github.com/camspiers/animate.vim.git
[submodule ".vim/bundle/ayu-vim"]
	path = vim/bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule ".vim/bundle/coc.nvim"]
	path = vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule ".vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/ion-vim"]
	path = vim/bundle/ion-vim
	url = https://github.com/vmchale/ion-vim.git
[submodule ".vim/bundle/jq.vim"]
	path = vim/bundle/jq.vim
	url = https://github.com/vito-c/jq.vim.git
[submodule ".vim/bundle/lens.vim"]
	path = vim/bundle/lens.vim
	url = https://github.com/camspiers/lens.vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/moonscript-vim"]
	path = vim/bundle/moonscript-vim
	url = https://github.com/leafo/moonscript-vim.git
[submodule ".vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/nord-vim"]
	path = vim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule ".vim/bundle/onedark.vim"]
	path = vim/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/bundle/plastic.vim"]
	path = vim/bundle/plastic.vim
	url = https://github.com/flrnprz/plastic.vim.git
[submodule ".vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule ".vim/bundle/quick-scope"]
	path = vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule ".vim/bundle/ReplaceWithRegister"]
	path = vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule ".vim/bundle/semshi"]
	path = vim/bundle/semshi
	url = https://github.com/numirias/semshi.git
[submodule ".vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/targets.vim"]
	path = vim/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-clap"]
	path = vim/bundle/vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
[submodule ".vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-dyon"]
	path = vim/bundle/vim-dyon
	url = https://github.com/thyrgle/vim-dyon.git
[submodule ".vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-exchange"]
	path = vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/bundle/vim-flog"]
	path = vim/bundle/vim-flog
	url = https://github.com/rbong/vim-flog.git
[submodule ".vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-gluon"]
	path = vim/bundle/vim-gluon
	url = https://github.com/gluon-lang/vim-gluon.git
[submodule ".vim/bundle/vim-highlightedyank"]
	path = vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule ".vim/bundle/vim-hy"]
	path = vim/bundle/vim-hy
	url = https://github.com/hylang/vim-hy.git
[submodule ".vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-markdown-composer"]
	path = vim/bundle/vim-markdown-composer
	url = https://github.com/euclio/vim-markdown-composer.git
[submodule ".vim/bundle/vim-nightfly-guicolors"]
	path = vim/bundle/vim-nightfly-guicolors
	url = https://github.com/bluz71/vim-nightfly-guicolors.git
[submodule ".vim/bundle/vim-peekaboo"]
	path = vim/bundle/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule ".vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-racer"]
	path = vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/vim-sandwich"]
	path = vim/bundle/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule ".vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/bundle/vim-textobj-matchit"]
	path = vim/bundle/vim-textobj-matchit
	url = https://github.com/adriaanzon/vim-textobj-matchit.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".tmux/plugins/nord-tmux"]
	path = tmux/plugins/nord-tmux
	url = https://git::@github.com/arcticicestudio/nord-tmux
[submodule ".tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/plugins/tmux-better-mouse-mode
	url = https://git::@github.com/nhdaly/tmux-better-mouse-mode
[submodule ".tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule ".tmux/plugins/tmux-fingers"]
	path = tmux/plugins/tmux-fingers
	url = https://git::@github.com/Morantron/tmux-fingers
[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://git::@github.com/tmux-plugins/tmux-prefix-highlight
[submodule ".tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/hoon.vim"]
	path = vim/bundle/hoon.vim
	url = https://github.com/urbit/hoon.vim
[submodule "vim/bundle/goyo.vim"]
	path = vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/bundle/bubbly.nvim"]
	path = vim/bundle/bubbly.nvim
	url = https://github.com/datwaft/bubbly.nvim
[submodule "vim/bundle/zephyr-nvim"]
	path = vim/bundle/zephyr-nvim
	url = https://github.com/glepnir/zephyr-nvim
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/bundle/vim-humanoid-colorscheme"]
	path = vim/bundle/vim-humanoid-colorscheme
	url = https://github.com/humanoid-colors/vim-humanoid-colorscheme
[submodule "vim/bundle/vim-openscad"]
	path = vim/bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad
[submodule "vim/bundle/toast.vim"]
	path = vim/bundle/toast.vim
	url = https://github.com/jsit/toast.vim
[submodule "vim/bundle/Colorizer"]
    path = vim/bundle/Colorizer
    url = https://github.com/chrisbra/Colorizer
[submodule "vim/bundle/vista.vim"]
	path = vim/bundle/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "vim/bundle/vim-rhubarb"]
	path = vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/bundle/completion-nvim"]
	path = vim/bundle/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "vim/bundle/lsp_extensions.nvim"]
	path = vim/bundle/lsp_extensions.nvim
	url = https://github.com/nvim-lua/lsp_extensions.nvim
[submodule "vim/bundle/nvim-lspconfig"]
	path = vim/bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim/bundle/oceanic-material"]
	path = vim/bundle/oceanic-material
	url = https://github.com/glepnir/oceanic-material
[submodule "vim/bundle/plenary.nvim"]
	path = vim/bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/bundle/rust-tools.nvim"]
	path = vim/bundle/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
[submodule "vim/bundle/trouble.nvim"]
	path = vim/bundle/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "vim/bundle/telescope.nvim"]
	path = vim/bundle/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "vim/bundle/todo-comments.nvim"]
	path = vim/bundle/todo-comments.nvim
	url = https://github.com/folke/todo-comments.nvim
[submodule "vim/bundle/popup.nvim"]
	path = vim/bundle/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "vim/bundle/nvim-cmp"]
	path = vim/bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "vim/bundle/cmp-nvim-lsp"]
	path = vim/bundle/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "vim/bundle/cmp-path"]
	path = vim/bundle/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "vim/bundle/cmp-cmdline"]
	path = vim/bundle/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline
[submodule "vim/bundle/cmp-buffer"]
	path = vim/bundle/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "vim/bundle/vim-vsnip"]
	path = vim/bundle/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "vim/bundle/nvim-web-devicons"]
	path = vim/bundle/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "vim/bundle/github-nvim-theme"]
	path = vim/bundle/github-nvim-theme
	url = https://github.com/projekt0n/github-nvim-theme.git
[submodule "vim/bundle/playground"]
	path = vim/bundle/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "vim/bundle/nvim-treesitter"]
	path = vim/bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/bundle/Coqtail"]
	path = vim/bundle/Coqtail
	url = https://github.com/whonore/Coqtail.git
[submodule "vim/bundle/agda-vim"]
	path = vim/bundle/agda-vim
	url = https://github.com/derekelkins/agda-vim.git
[submodule "vim/bundle/lsp_lines.nvim"]
	path = vim/bundle/lsp_lines.nvim
	url = origin\thttps://git.sr.ht/~whynothugo/lsp_lines.nvim
[submodule "vim/bundle/lualine.nvim"]
	path = vim/bundle/lualine.nvim
	url = origin\tgit@github.com:crides/lualine.nvim.git
[submodule "vim/bundle/null-ls.nvim"]
	path = vim/bundle/null-ls.nvim
	url = origin\thttps://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "vim/bundle/nvim-nu"]
	path = vim/bundle/nvim-nu
	url = origin\thttps://github.com/LhKipp/nvim-nu.git
[submodule "vim/bundle/nvim-treesitter-textobjects"]
	path = vim/bundle/nvim-treesitter-textobjects
	url = origin\thttps://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "vim/bundle/tabline.nvim"]
	path = vim/bundle/tabline.nvim
	url = origin\thttps://github.com/kdheepak/tabline.nvim.git
[submodule "vim/bundle/text-case.nvim"]
	path = vim/bundle/text-case.nvim
	url = origin\thttps://github.com/johmsalas/text-case.nvim.git
